@use './../../../styles/partials/variables' as *;
@use './../../../styles/partials/mixins' as *;
@use './../../../styles/partials/typography' as *;

.footer {
  background-color: $color-dark-shades;
  padding: 9rem;
  box-shadow: $shadow-nav-bar;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    color: $white;
    @include typo-heading-3;
    margin-bottom: $small;
    text-align: center;
  }

  &__icon-links {
    margin-top: $small;
    display: flex;

    &--1 {
      margin-right: $extra-small;
    }
    &--2 {
      margin-right: $extra-small;
    }

    &--1,
    &--2,
    &--3 {
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__link {
    color: $white;
    text-decoration: none;
    cursor: pointer;
    padding: $tiny $extra-small;
    border-radius: 5px;
    @include typo-heading-5;
    transition: all 0.2s;

    &:hover {
      background-color: lighten($color-dark-shades, 10);
      box-shadow: $shadow-img-gallery;
    }

    &--careers {
      margin-right: $extra-small;
    }

    &--investors {
      margin-right: $extra-small;
    }
  }
}
