@use './../../../styles/partials/variables' as *;
@use './../../../styles/partials/mixins' as *;
@use './../../../styles/partials/typography' as *;

.categories {
  margin-right: $large;
  &__heading {
    @include typo-heading-2;
    margin-bottom: 1.8rem;
  }

  &__list-item {
    @include typo-heading-3;
    line-height: 2.4rem;
    cursor: pointer;
    margin-bottom: $tiny;

    @include desktop {
      line-height: 2.6rem;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
