@use './../../../styles/partials/variables' as *;
@use './../../../styles/partials/mixins' as *;
@use './../../../styles/partials/typography' as *;

.listing-form {
  &__container-bottom {
    @include tablet {
      display: flex;
      padding: $small 0;
    }
  }

  &__container-bottom-left {
    @include tablet {
      padding: 0 $small 0 0;
      width: 50%;
      border-right: $separator-line;
    }
  }

  &__container-bottom-right {
    @include tablet {
      padding: 0 0 0 $small;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: $extra-small;
  }

  &__currency-input {
    display: flex;
  }

  &__amount {
    margin-right: $tiny;
    width: 60%;
  }

  &__currency {
    flex: 1;
  }

  &__buttons {
    display: flex;
    @include tablet {
      margin-bottom: $extra-small;
    }
  }

  &__button-cancel {
    margin-right: $small;
    flex: 1;
  }
  &__button-delete {
    margin-right: $small;
    flex: 1;
  }
  &__button-create {
    flex: 1;
  }
}
