@use './../../styles/partials/variables' as *;
@use './../../styles/partials/mixins' as *;
@use './../../styles/partials/typography' as *;

.chat-page {
  padding: $small $mobile-spacing;
  max-width: $desktop-max-width;

  @include tablet {
    padding: $small $desktop-spacing;
    display: flex;
  }

  @include desktop {
    margin: 0 auto;
  }

  &__top {
    @include tablet {
      width: 50%;
      margin-right: $small;
    }
  }

  &__conv-box {
    @include tablet {
      width: 50%;
    }
  }

  &__header {
  }

  &__buttons {
    margin: $small 0 $small 0;

    @include tablet {
      display: flex;
    }

    &--primary {
      margin-bottom: $tiny;
      @include tablet {
        width: 50%;
      }
    }

    &--secondary {
      @include tablet {
        width: 50%;
        order: -1;
        margin-right: $small;
      }
    }
  }
}
