@use './../../../styles/partials/variables' as *;
@use './../../../styles/partials/mixins' as *;
@use './../../../styles/partials/typography' as *;

.listing-details {
  margin-bottom: $extra-small;

  @include tablet {
    margin-bottom: $small;
  }

  &__title {
    @include typo-heading-3;
    margin-bottom: $extra-tiny;
    border-bottom: $separator-line;

    @include tablet {
      border-bottom: none;
      margin-bottom: $small;
    }
  }

  &__category {
    display: flex;
    align-items: center;
    margin-bottom: $tiny;
  }

  &__label {
    @include typo-heading-4;
    font-weight: 600;
    margin-left: $extra-small;
  }

  &__text {
    @include typo-paragraph;
  }
}
