@use './../../../styles/partials/variables' as *;
@use './../../../styles/partials/mixins' as *;
@use './../../../styles/partials/typography' as *;

.listing-header {
  border-bottom: $separator-line;

  &__gallery {
    margin-bottom: $extra-small;

    @include tablet {
      // max-width: 60rem;
      margin: 0 auto;
      margin-bottom: $small;
    }
  }

  &__description {
    @include tablet {
      display: flex;
      border-top: $separator-line;
      padding: $tiny 0;
    }
  }

  &__title-container {
    @include tablet {
      width: 50%;
    }
  }

  &__title {
    margin-bottom: $extra-tiny;
    @include typo-heading-3;
  }

  &__listed-when {
    @include typo-heading-6;
    margin-bottom: $tiny;
  }

  &__price {
    border-top: $separator-line;
    padding: $tiny 0;
    display: flex;

    @include tablet {
      border-top: none;
    }
  }

  &__price-icon {
    margin-right: $extra-small;
    align-self: start;
  }

  &__price-container {
  }

  &__list-price {
    @include typo-heading-4;
    font-weight: 600;
    font-size: 2rem;

    @include tablet {
      font-size: 2.2rem;
    }
  }

  &__local-price {
    @include typo-heading-5;
  }
}
