@use './../../styles/partials/variables' as *;
@use './../../styles/partials/mixins' as *;
@use './../../styles/partials/typography' as *;

.create-listing-page {
  padding: $small $mobile-spacing;
  max-width: $desktop-max-width;

  @include tablet {
    padding: $small $desktop-spacing;
  }

  @include desktop {
    margin: 0 auto;
  }

  &__add-photos {
    border: 0.1rem solid $color-light-accent;
    border-radius: 2rem;
    width: 100%;
    height: 40vw;
    margin-bottom: $extra-small;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__add-photos-icon {
    margin-right: $extra-small;

    @include tablet {
      width: 3.6rem;
    }
  }

  &__add-photos-label {
    font-size: 1.2rem;
    margin-bottom: $extra-small;

    @include tablet {
      font-size: 1.6rem;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: $extra-small;
  }

  &__currency-input {
    display: flex;
  }

  &__amount {
    margin-right: $tiny;
    width: 60%;
  }

  &__currency {
    flex: 1;
  }

  &__buttons {
    display: flex;
  }

  &__button-cancel {
    margin-right: $small;
    flex: 1;
  }
  &__button-create {
    flex: 1;
  }
}
