@use './mixins' as *;
@use './typography' as *;
@use './variables' as *;

.error {
  display: flex;
  align-items: center;
  margin: 0.3rem 0 $extra-tiny 0;
  padding-left: 0.5rem;

  &__message {
    font-size: 1.4rem;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.6rem;
    text-align: center;
    line-height: 1.8rem;
    color: $color-button-warning;
  }

  &__icon {
    height: 1.3rem;
    width: 1.3rem;
    margin-right: 0.5rem;
  }
}
