@use './variables' as *;
@use './typography' as *;

///////////////////////////////
// RESPONSIVE BREAKPOINTS
@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

///////////////////////////////
// TYPOGRAPHY
@mixin typo-input {
  font-size: 1.4rem;
  font-family: "Poppins";
  font-weight: 400;

  @include tablet {
    font-size: 1.8rem;
  }
}

@mixin typo-navbar-home {
  color: $color-text-dark;
  font-weight: 500;
  font-size: 2.2rem;

  @include tablet {
    font-size: 2.6rem;
  }
}

@mixin typo-listing-label {
  font-size: 1.6rem;
  font-weight: 400;

  @include tablet {
    font-size: 2rem;
  }
}

@mixin typo-listing-price {
  font-size: 1.4rem;
  font-weight: 400;

  @include tablet {
    font-size: 1.6rem;
  }
}

@mixin typo-heading-2 {
  font-size: 3.4rem;
  font-weight: 300;

  @include desktop {
    font-size: 3.8rem;
  }
}

@mixin typo-heading-3 {
  font-size: 2rem;
  font-weight: 400;

  @include desktop {
    font-size: 2.2rem;
  }
}

///////////////////////////////
// IMAGES
@mixin figure {
  width: 100%;
}
@mixin image {
  width: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 5px;
}
