@font-face {
  font-family: "Poppins";
  src: url("./../../assets/fonts/poppins/Poppins-Thin.ttf") format("ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Poppins";
  src: url("./../../assets/fonts/poppins/Poppins-ExtraLight.ttf") format("ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Poppins";
  src: url("./../../assets/fonts/poppins/Poppins-Light.ttf") format("ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Poppins";
  src: url("./../../assets/fonts/poppins/Poppins-Regular.ttf") format("ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("./../../assets/fonts/poppins/Poppins-Medium.ttf") format("ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("./../../assets/fonts/poppins/Poppins-SemiBold.ttf") format("ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("./../../assets/fonts/poppins/Poppins-Bold.ttf") format("ttf");
  font-weight: 700;
}
