///////////////////////////////
// COLORS
$color-light-shades: #faf9fa;
$color-light-accent: #8c8a99;
$color-main-brand: #676b97;
$color-main-brand-light: #767aa2;
$color-dark-accent: #756e83;
$color-dark-shades: #1d1b22;

$black: #050505;
$white: #fff;

// BUTTON COLORS
$color-button-primary: $color-main-brand;
$color-button-info: $color-dark-shades;
$color-button-success: #549b65;
$color-button-warning: #d18b2d;
$color-button-danger: #f44336;

// NAVBAR COLORS
$color-navbar-background: $color-main-brand;
$color-navbar-highlight: $color-main-brand-light;

// PAGE COLORS
$color-page: $color-light-shades;

// TEXT COLORS
$color-text-dark: $color-dark-shades;

///////////////////////////////
// SHADOWS
$shadow-nav-bar: 0rem 0.1rem 1rem rgba(0, 0, 0, 0.3);
