@use './../../../styles/partials/variables' as *;
@use './../../../styles/partials/mixins' as *;
@use './../../../styles/partials/typography' as *;

.search-field {
  position: relative;

  &__input {
    @include typo-input;
    padding: $tiny $extra-small;
    width: 100%;
    height: 3.6rem;
    outline: none;
    border-radius: 20rem;
    border: 1px solid $color-dark-accent;

    @include tablet {
      height: 3.8rem;
    }

    &:active,
    &:focus {
      border-color: $color-input-border-selected;
    }
  }

  &__icon {
    display: block;
    position: absolute;
    top: 0.5rem;
    right: $extra-small;
    cursor: pointer;

    @include tablet {
      top: 0.7rem;
    }
  }
}
