@use './../../styles/partials/variables' as *;
@use './../../styles/partials/mixins' as *;
@use './../../styles/partials/typography' as *;

.browse-page {
  padding: $small $mobile-spacing;
  display: flex;
  flex-direction: column;
  max-width: $desktop-max-width;

  @include tablet {
    padding: $small $desktop-spacing;
  }

  @include desktop {
    margin: 0 auto;
  }

  &__search-bar {
    margin-bottom: $extra-small;
  }

  &__container {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
    }
  }

  &__listings {
    margin-top: $tiny;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min(40vw, 40rem);
    grid-auto-rows: min(40vw, 40rem);
    grid-column-gap: $mobile-spacing;
    grid-row-gap: $mobile-spacing;

    &--no-results {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @include desktop {
      grid-column-gap: $desktop-spacing;
      grid-row-gap: $desktop-spacing;
    }
  }

  &__categories {
    display: none;
    width: 40%;

    @include tablet {
      display: block;
    }
  }
}
