@use './partials/mixins' as *;
@use './partials/variables' as *;
@use './partials/typography' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  color: $color-dark-shades;
}
