@use './../../../styles/partials/variables' as *;
@use './../../../styles/partials/mixins' as *;
@use './../../../styles/partials/typography' as *;

.listing {
  margin-bottom: $medium;
  text-decoration: none;
  color: inherit;

  &__figure {
    @include figure;
    margin-bottom: 0.2rem;
  }

  &__img {
    @include image;
  }

  &__label {
    @include typo-listing-label;
  }

  &__price {
    @include typo-listing-price;
  }
}
