@use './../../styles/partials/variables' as *;
@use './../../styles/partials/mixins' as *;
@use './../../styles/partials/typography' as *;

.edit-listing-page {
  padding: $small $mobile-spacing;
  max-width: $desktop-max-width;

  @include tablet {
    padding: $small $desktop-spacing;
  }

  @include desktop {
    margin: 0 auto;
  }

  &__title {
    text-align: center;
    margin-bottom: $extra-small;
  }

  &__add-photos {
    border: 0.1rem solid $color-light-accent;
    padding: $extra-small;
    border-radius: 2rem;
    width: 100%;
    margin-bottom: $extra-small;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet {
      padding: $small;
    }
  }

  &__add-photos-label {
    font-size: 1.2rem;
    margin-bottom: $extra-small;
    cursor: pointer;

    @include tablet {
      font-size: 1.6rem;
    }
  }

  &__add-photos-icon {
    margin-right: $extra-small;
    margin-bottom: $extra-small;
    cursor: pointer;

    @include tablet {
      width: 3.6rem;
    }
  }

  &__upload-images {
    padding: $extra-small 0;
    border-top: $separator-line;
    width: 100%;
    display: grid;
    grid-gap: $extra-small;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: fit-content;

    @include tablet {
      padding: $small 0;
      grid-template-columns: repeat(3, 1fr);
    }
    @include desktop {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__upload-figure {
    @include figure;
    position: relative;
  }

  &__upload-image {
    @include image;
  }

  &__delete-image {
    position: absolute;
    z-index: 5;
    top: -1rem;
    right: -1rem;
    // width: 3rem;
    cursor: pointer;
    // filter: sepia(60%) saturate(100) hue-rotate(-90deg) contrast(110%);
    // fill: red;
    // color: red;
  }
}
