@use './../../../styles/partials/variables' as *;
@use './../../../styles/partials/mixins' as *;
@use './../../../styles/partials/typography' as *;
@use './../../../styles/partials/error' as *;

.text-area {
  margin-bottom: $extra-small;
  &__input {
    background: white;
    border: 0.1rem solid $color-light-accent;
    border-radius: 2rem;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: normal;
    padding: $tiny $extra-small;
    width: 100%;
    height: 32vw;
    outline: none;
    resize: none;

    @include tablet {
      height: 15.6vw;
      font-size: 1.6rem;
    }

    &:active,
    &:focus {
      border-color: $color-main-brand;
    }
  }

  &__error {
    @extend .text-area__input;
    border: 0.1rem solid $color-button-warning;
  }

  &__label {
    @include typo-input-field-label;
  }
}
