@use './../../styles/partials/variables' as *;
@use './../../styles/partials/mixins' as *;
@use './../../styles/partials/typography' as *;

.listing-page {
  padding: $small $mobile-spacing;
  max-width: $desktop-max-width;

  @include tablet {
    padding: $small $desktop-spacing;
  }

  @include desktop {
    margin: 0 auto;
  }

  &__info-container {
    @include tablet {
      display: flex;
      justify-content: space-between;
      padding: $small 0;
    }
  }

  // === USER INFO ===
  &__creator-info {
    padding: $extra-tiny 0 $extra-small 0;
  }

  // === DETAILS ===
  &__details {
    margin-bottom: $extra-small;

    @include tablet {
      width: 50%;
      border-left: $separator-line;
      padding: $tiny $small;
    }
  }
}
