@use './../../styles/partials/variables' as *;
@use './../../styles/partials/mixins' as *;
@use './../../styles/partials/typography' as *;

.login-page {
  padding: $huge $mobile-spacing;
  max-width: $desktop-max-width;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include desktop {
    margin: 0 auto;
  }

  &__logo {
    width: 20rem;
    margin-bottom: $tiny;
  }

  &__title {
    font-size: 2.6rem;
    font-weight: 300;
    margin-bottom: 4rem;
  }

  &__login-form {
    width: 100%;
    max-width: 40rem;
  }

  &__login-input {
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
  }

  &__sign-up-text {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    align-self: flex-end;
    cursor: pointer;
    margin-right: $extra-small;

    @include tablet {
      font-size: 1.4rem;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__login-buttons {
    width: 20rem;
    margin: 0 auto;
  }
}
