@use './../../../styles/partials/variables' as *;
@use './../../../styles/partials/mixins' as *;
@use './../../../styles/partials/typography' as *;
@use './../../../styles/partials/error' as *;

.drop-down-field {
  margin-bottom: $extra-small;
  position: relative;

  &:after {
    content: url('../../../assets/icons/arrow_drop_down-24px.svg');
    position: absolute;
    right: 1.5rem;
    top: 2.6rem;
    cursor: pointer;
  }

  &__input {
    background: white;
    border: 0.1rem solid $color-light-accent;
    box-sizing: border-box;
    border-radius: 2rem;
    padding: $tiny 1.6rem;
    width: 100%;
    height: 3.6rem;
    outline: none;
    cursor: pointer;

    // remove default arrow:
    appearance: none;

    @include tablet {
      height: 3.8rem;
      font-size: 1.4rem;
    }

    &:active,
    &:focus {
      border-color: $color-main-brand;
    }

    &::placeholder {
      color: $color-dark-accent;
    }
  }

  &__error {
    @extend .drop-down-field__input;
    border: 0.1rem solid $color-button-warning;
  }

  &__label {
    @include typo-input-field-label;
  }
}
