@use './../../../styles/partials/variables' as *;
@use './../../../styles/partials/mixins' as *;
@use './../../../styles/partials/typography' as *;

.wallet {
  background-color: $color-page;
  padding: $extra-small;
  border-radius: 5px;
  box-shadow: $shadow-img-gallery;
  margin-bottom: $small;

  &__address-container {
    display: flex;
    align-items: center;
    margin-bottom: $tiny;
  }

  &__icon {
    margin-right: $tiny;
  }

  &__address {
    font-size: 1.2rem;
  }

  &__network {
    @include typo-heading-3;
    margin-bottom: $small;
  }

  &__balance {
    font-size: 3.4rem;
    margin-bottom: $extra-small;

    @include tablet {
      font-size: 3.9rem;
    }
  }

  // FORM SECTION
  &__form {
    display: flex;
    flex-direction: column;

    &--amount {
      display: flex;
      align-items: center;
      width: 70%;
    }

    &--currency {
      margin-left: $extra-small;
      font-size: 2.5rem;
    }
  }

  &__send-button {
    align-self: flex-end;
    width: 15rem;
  }
}
