@use './../../styles/partials/variables' as *;
@use './../../styles/partials/mixins' as *;
@use './../../styles/partials/typography' as *;

.home-page {
  padding: $small $mobile-spacing;
  max-width: $desktop-max-width;

  @include tablet {
    padding: $small $desktop-spacing;
  }

  @include desktop {
    margin: 0 auto;
  }

  &__user-info {
    display: flex;
    align-items: center;
    margin-bottom: $small;
  }

  &__user-profile-pic {
    width: 6rem;
    margin-right: $small;
  }

  &__username {
    font-size: 2.6rem;
  }

  &__sub-title {
    font-size: 2rem;
    padding-bottom: $tiny;
    border-bottom: $separator-line;
  }

  ///////////////////////////
  // === USER LISTINGS ===
  &__user-listings-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__new-listing-icon {
    margin: $tiny;
    width: 3rem;
    cursor: pointer;
  }
}
